<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<h1>Nuevo Post</h1>
<form action="/post" method="POST">
    <h2>Titulo</h2>
    <input name="title" id="title" cols="20"> </input>

    <h2>Texto</h2>
    <textarea name="text" id="text" cols="60" rows="5">
    </textarea>
    <br>
    <p>Fecha: </p>
    <input type="date" name="creationDate"/>

    <p>Categoria:</p>
    <select name="postCategory" id="postCategory">
        <option th:each="postCategory : ${postCategories}" th:value="${postCategory.id}" th:text="${postCategory.name}"></option>
    </select>


    <p>Usuario:</p>
    <select name="user" id="user">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>


    <button type="submit" value="Guardar">Guardar</button>
</form>

</body>
</html>