<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Post</h1>

<b>Id:</b> <p th:text="${post.id}"></p>
<b>Titulo</b><p th:text="${post.title}"></p>
<b>Texto:</b> <p th:text="${post.text}"></p>
<b>Categoria:</b> <p th:text="${post.postCategory.name}"></p>
<b>Autor:</b> <p th:text="${post.user.name}"></p>
<b>Fecha Creacion:</b><p th:text="${post.creationDate}"></p>

<b>Likes:</b>  <p th:text="${post.likes}"></p>
<a th:href="${'/like/' + post.id}">Like</a>
<a th:href="${'/dislike/' + post.id}">Dislike</a>


<p>Añadir Comentario:</p>
<form action="/comment" method="POST">
    <input type="hidden" name="post" th:value="${post.id}">
    <textarea name="text" id="text" cols="50" rows="5"></textarea>
    <p>Usuario:</p>
    <select name="user" id="user">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <br>
    <input type="submit" value="Guardar"></input>
</form>
<br><br>

<div th:each="comment : ${post.comments}" >
    <b>Autor::</b><p th:text="${comment.user.name}"></p>
    <b>Texto::</b><span th:text="${comment.text}"></span>
    <b>Likes:</b><p th:text="${comment.likes}"></p>
    <span type= "date" class="form-control" th:text="${comment.date}"/></span>
    <a th:href="${'/commentlike/' + comment.id +'/'+ post.id}">Like</a>
    <a th:href="${'/commentdislike/'+ comment.id + '/' + post.id}">DisLike</a><br><br>
</div>

</body>
</html>